@use '../styles/mixin' as *;

.nf_footer {
    background-color: #ffffff;
    border-top: 1px solid #e5e7eb; // gray-200
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 0.75rem; // space-x-3
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: all 0.3s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        &:hover {
            cursor: pointer;
        }

        @include sm {
            width: fit-content;
            padding: 0.5rem;
        }

        span {

            @include sm {
                display: none;
            }
        }
    }

    &__pause {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: all 0.3s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        background-color: #ef4444; // red-500
        width: 117px;

        @include sm {
            width: fit-content;
            padding: 0.5rem;
        }

        &:hover {
            background-color: #dc2626; // red-600
        }

        &:focus {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-weight: 500;
            transition: all 0.3s;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            background-color: #ef4444; // red-500
        }

        color: #ffffff;
    }

    &__resume {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: all 0.3s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        background-color: #22c55e; // green-500

        @include sm {
            width: fit-content;
            padding: 0.5rem;
        }
        
        &:hover {
            background-color: #16a34a; // green-600
        }
        
        &:focus {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-weight: 500;
            transition: all 0.3s;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            padding: 0.5rem 1rem;
            background-color: #16a34a; // green-600

            @include sm {
                padding: 0.5rem;
                width: fit-content;
            }
        }

        color: #ffffff;
    }

    &__clear {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: all 0.3s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        background-color: #6b7280; // gray-500

        @include sm {
            padding: 0.5rem;
            width: fit-content;
        }

        &:hover {
        }
        
        &:focus {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-weight: 500;
            transition: all 0.3s;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            padding: 0.5rem 1rem;
            background-color: #4b5563; // gray-600

            @include sm {
                padding: 0.5rem;
                width: fit-content;
            }
        }

        color: #ffffff;
    }

    &__icon {
        width: 1rem;
        height: 1rem;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__datapoints {
        font-size: 0.875rem; // text-sm
        color: #4b5563; // text-gray-600
    }

    &__count {
        font-family: monospace;
        font-weight: bold;
    }
}